.content {
  /* padding: 10px; */
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "g s"
    "g i";

  /* grid-template-rows: 5px 1fr; */
  grid-template-columns: 50% 50%;
}
.name {
  border: 1px solid black;
  border-style: double;
  padding: 10px;
  margin: 5px;
  color: black;
}
.surname {
  border: 1px solid black;
  border-style: double;
  padding: 10px;
  margin: 5px;
  color: black;
}
.email {
  border: 1px solid black;
  border-style: double;
  padding: 10px;
  margin: 5px;
  color: black;
}
.phone {
  border: 1px solid black;
  border-style: double;
  padding: 10px;
  margin: 5px;
  color: black;
}
.location {
  border: 1px solid black;
  border-style: double;
  padding: 10px;
  margin: 5px;
  color: black;
}
.status {
  border: 1px solid black;
  border-style: double;
  padding: 5px;
  margin: 5px;
  color: black;
}
