.content{
    /* padding: 10px; */
    margin:0 auto;
    display: grid;
    grid-template-areas: 
         'g s'
         'g i';
  
    /* grid-template-rows: 5px 1fr; */
    grid-template-columns: 50% 50%;
}

.info {
    grid-area: i;
    background-color: aquamarine;
    
}

.status{
    grid-area:s;
    background-color: blue;
}
.image{
    grid-area:g;
    background-color: chartreuse;
}
