.dialogs{
    display: grid;
    grid-template-areas: 'd m'
                         'd t';
    grid-template-columns: 2fr 10fr;
    

}
.dialogItems {
    grid-area: d;
    padding: 10px;
    background-color: rgb(63, 55, 55);
    height: 537px;
}
.messages {
    grid-area: m;
    padding: 10px;
    background-color: white;
    height: 495px;
    overflow-y: scroll;

}
.textarea{
    grid-area: t;
    background-color: rgb(63, 55, 55);
}
.messageClass{
    float: right;
}
